<footer class="bg-dark text-light text-center text-lg-start py-4 fixed-bottom"> <!-- Aggiunto bg-dark per applicare un colore di sfondo al footer, e text-light per cambiare il colore del testo -->
    <div class="container">
      © 2024 ISAmed ergterge
    </div>
</footer>
  