<nav class="navbar navbar-expand-lg navbar-light bg-secondary"> <!-- Cambiato bg-primary in bg-secondary per applicare un colore grigio alla tollbar -->
    <div class="container">
      <img src="/images/vvf_logo.png" alt="VVF Logo" width="40" height="40" class="rounded-circle logo mr-2">
      <a class="navbar-brand text-light" href="#">ISAmed</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link text-light" href="#">Dashboard</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-light" href="#">Database</a>
          </li>
        </ul>
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link text-light" href="/login">
              <i class="fas fa-sign-in-alt"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  