body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
.navbar-nav {
  gap: 10px; /* Aggiungi qui lo spazio desiderato tra gli elementi del menu */
}
